<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title></title>
  <style>
    body {
      margin: 0;
    }

    .site-frame {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      transform: translate3d(0, 0, 0);
    }

    .float-back {
      position: fixed;
      left: 1%;
      top: auto;
      right: auto;
      bottom: 2%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 10px;
      border-radius: 4px;
      background-color: #51bbf6;
      color: #fff;
      line-height: 1rem;
      -webkit-font-smoothing: antialiased;
      font-size: 0.9rem;
      width: 200px;
    }

    a {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      color: #fff;
    }

    .text-block {
      font-size: 1rem;
    }
  </style>
</head>

<body class="{{body_class}}">
  {{!-- Change src to real site url --}}
  <iframe id="site-frame" class="site-frame" src="http://localhost:8083{{url}}" frameborder="0" allowtransparency="true"></iframe>

  {{{body}}}

</body>

</html>
